.card-text{
	color: white;
}
.card-Title{
	color: black;
	font-size: 30px;
	font-weight: bolder;
	font-family: sans-serif;
	background-color: white;
	border-radius: 6px;
}
body{
	background-color: black;
}
.card-body{
	background-color: red;
}